* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #040714;
  color: #f9f9f9;
  font-size: 16px;
  font-family: 'Maven Pro',
    sans-serif;
}

a {
  color: #f9f9f9;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 15px
  }
}

@media screen and (max-width: 476px) {
  body {
    font-size: 14px
  }
}